{
  "$schema": "https://railway.app/json-schema",
  "build": {
    "builder": "nixpacks"
  },
  "deploy": {
    "startCommand": "npm start",
    "restartPolicyType": "on_failure",
    "numReplicas": 1
  }
}
